/***
Inbox Page
***/

.inbox-wraper {
    border: 1px solid #d5d5d5;
}
.inbox {
    margin-bottom: 20px;
}

.white-color, .white-color a {
    color: white;
}

.inbox .inbox {
    margin-bottom: 0px;
}

.inbox .tab-content {
    overflow: inherit;
}

.inbox .inbox-loading {
    display: none;
    font-size: 22px;
    font-weight: 300;
}

.btn {
    text-shadow: none;
    box-shadow:none;
    border: none;
}

.btn.colored {
    color: white;
    text-shadow: none;
}

/*Imbox Menu*/

.inbox .inbox-nav {
    list-style: none;
    margin-left: 0 !important;
}

.inbox .inbox-nav li {
    position: relative;
}

.inbox .inbox-nav li a {
    color: #757575;
    display: block;
    font-size: 15px;
    border-left: none;
    padding: 8px 14px;
    margin-bottom: 1px;
    background: #f5f5f5;
}

.inbox .inbox-nav li.active a,
.inbox .inbox-nav li.active:hover a {
    color: #000;
    border-left: none;
    background: #ccc !important;
    text-decoration: none;
}

.inbox .inbox-nav li.active b {
    top: 0;
    right: -4px;
    width: 8px;
    height: 35px;
    position: absolute;
    display: inline-block;
}

.inbox .inbox-nav li:hover a {
    color: #000;
    background: #ccc !important;
    text-decoration: none;
}

.inbox .inbox-nav li.compose-btn a {
    color: #fff;
    text-shadow: none;
    text-align: center;
    margin: 0 20px 15px ;
    background: #e2595b;
    border: none;

}

.inbox .inbox-nav li.compose-btn i,
.inbox .inbox-nav li.compose-btn:hover i {
    top: 1px;
    color: #fff;
    font-size: 15px;
    position: relative;
    background: none !important;
}

.inbox .inbox-nav li.compose-btn a:hover {
    background-color: #bd4a4c !important;
}

/*Inbox Content*/
.inbox .inbox-header {
    overflow: hidden;
    padding:15px 10px;
    min-height: 45px;
}

.inbox .inbox-header img {
    border-radius: 30px;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
}

.inbox-option {
    background: #f9f9f9;
}

.inbox .inbox-header h2 {
    color: #FFFFFF;
    font-size: 22px;
    line-height: normal;
    margin: 0;
}

.position {
    margin-bottom: 0;
}

.position .input-append {
    margin-top: 8px;
}

.position input:focus, .position input {
    border: 1px solid #fff;
}

.inbox .inbox-header h1 {
    margin: 0;
    color: #fff;
    font-size: 24px;
}

.inbox tr {
    color: #777;
    font-size: 13px;
    border-bottom: 1px solid #d5d5d5;
}

.inbox tr label {
    display: inline-block;
    margin-bottom: 0;
}

.inbox tr.unread td{
    background-color: #bdccb2;
    color:red;
    font-weight: 600;

}

.inbox td i.icon-paper-clip {
    top: 2px;
    color: #959696;
    font-size: 17px;
    position: relative;
}

.inbox tr i.icon-star,
.inbox tr i.icon-trash {
    cursor: pointer;
}

.inbox tr i.icon-star {
    color: #eceef0;
}

.inbox tr i.icon-star:hover {
    color: #fd2a28;
}

.inbox tr i.inbox-started {
    color: #fd2a28;
}

.inbox .table th,
.inbox .table td {
    border: none;
}

.inbox .table th {
    background: #fff;
    border-bottom: solid 5px #fff;
}

.inbox th.text-right {
    text-align: right;
}

.inbox th label.inbox-select-all {
    color: #828f97;
    font-size: 13px;
    padding: 1px 4px 0;
}

.inbox ul.inbox-nav {
    margin-bottom: 0;
}

.inbox ul.inbox-nav li {
    padding: 0;
}

.inbox ul.inbox-nav li span {
    color: #757575;
    font-size: 12px;
    margin-right: 10px;
}

.inbox ul.inbox-nav i {
    color: #fff;
    padding: 1px 0;
    font-size: 15px;
    cursor: pointer;
    background: #ccc !important;
}

.inbox ul.inbox-nav i:hover {
    background: #757575 !important;
}

.inbox td.text-right {
    width: 100px;
    text-align: right;
}

.inbox td.inbox-small-cells {
    width: 10px;
}

.inbox .table-hover tbody tr:hover>td,
.inbox .table-hover tbody tr:hover>th,
.inbox .table-striped tbody>tr:nth-child(odd)>td,
.inbox .table-striped tbody>tr:nth-child(odd)>th {
    background: #f7f7f7;
    cursor: pointer;
}

.inbox .table-hover tbody tr:hover>td,
.inbox .table-hover tbody tr:hover>th {
    background: #dddddd;
}

/*Inbox Drafts*/
.inbox .inbox-drafts {
    padding: 8px 0;
    text-align: center;
    border-top: solid 1px #eee;
    border-bottom: solid 1px #eee;
}

/*Inbox View*/
.inbox-view-header {
    margin-bottom: 20px;
}

.inbox-view-header h1 {
    color: #666;
    font-size: 22px;
    line-height: 24px;
    margin-bottom: 0 !important;
}

.reply-head {
    padding: 0 10px;
}

.reply-head h3 a {
    top: 10px;
    color: #fff;
    cursor: pointer;
    font-size: 13px;
    padding: 2px 7px;
    line-height: 16px;
    position: relative;
    background: #959696;
    display: inline-block;
    float: right;
    margin-left: 10px;
}

.reply-head .print {
    background:#959696;
    color: #FFFFFF;
    margin:20px 10px 0 10px;
    padding: 0 5px;
    cursor: pointer;
}

.inbox-view-header h1 a {
    top: -2px;
    color: #fff;
    cursor: pointer;
    font-size: 13px;
    padding: 2px 7px;
    line-height: 16px;
    position: relative;
    background: #959696;
    display: inline-block;
}

.inbox-view-header h1 a:hover {
    background: #363636;
    text-decoration: none;
}

.inbox-view-header i.icon-print {
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    display: inline-block;
    padding: 6px 8px !important;
    background: #959696 !important;
}

.inbox-view-header i.icon-print:hover {
    background: #363636 !important;
}

.inbox-view-info {
    color: #666;
    padding: 5px 0;
    margin-bottom: 10px;
    border-top: solid 1px #eee;
    border-bottom: solid 1px #eee;
}

.inbox-view-info img, .inbox-info-btn .btn-group, .inbox-view p, .inbox-attached span, .inbox-attached img, .inbox-attached strong {
    padding: 0 5px;
}

.inbox-view-info strong {
    color: #666;
    margin: 0 10px 0 5px;
}

.inbox-view-info .inbox-info-btn {
    text-align: right;
}

.inbox-view-info .inbox-info-btn ul {
    text-align: left;
}

.inbox-view-info button {
    top: 2px;
    color: #fff;
    font-size: 13px;
    margin-left: 4px;
    padding: 3px 10px;
    position: relative;
    background: #959696;
}

.inbox-view-info button:hover {
    color: #fff;
    background: #363636;
}

.inbox-view {
    color: #666;
    padding: 15px 0 0;
}

.inbox-attached {
    line-height: 16px;
}

.inbox-attached a {
    margin: 0 2px;
}

.inbox-attached img {
    height: auto;
    max-width: 250px;
    margin-bottom: 5px;
}

.inbox-attached span {
    margin-right: 3px;
}

.inbox-attached strong {
    color: #555;
    display: block;
    font-size: 13px;
}

.inbox-attached .margin-bottom-25 {
    margin-bottom: 25px;
}

.inbox-attached .margin-bottom-15 {
    margin-bottom: 15px;
}


/*Inbox Compose*/
.inbox-compose {
    margin-top: 1px;
    border: solid 1px #eee;
}

.inbox-compose-btn {
    padding: 8px 4px;
    background: #F5F5F5;
}

.inbox-compose-attachment {
    padding: 8px 8px;
}

.inbox-compose-attachment .btn {
    padding: 4px 10px;
}

.inbox-compose-btn button {
    color: #fff;
    font-size: 14px;
    margin-left: 4px;
    padding: 4px 10px;
    background: #959696;
}

.inbox-compose-btn button:hover {
    color: #fff;
}

.inbox-compose-btn button i {
    margin-right: 3px;
}

.inbox-compose .inbox-control-group {
    margin-bottom: 0;
    position: relative;
    border-bottom: solid 1px #eee;
}

.inbox-compose .controls {
    margin-left: 85px;
}

.inbox-compose .inbox-control-group > label {
    width: 80px;
    float: left;
    color: #979797;
    text-align: right;
}

.inbox-compose .controls > input {
    border: none !important;
}
.inbox-compose .controls-to {
    padding-right: 55px;
}

.inbox-compose .controls-cc {
    padding-right: 15px;
}

.inbox-compose .controls-bcc {
    padding-right: 15px;
}

.inbox-compose .tag {
    font-size: 12px;
    font-weight: 300 !important;
    margin-top: 6px;
    margin-left: 5px;
    color: #333;
    text-shadow: none !important;
    background-color: #eee;
    display: inline-block !important;
    padding: 3px 10px !important;
}

.inbox-compose .tag .close {
    margin-top: -2px;
    display: inline-block !important;
    float: none !important;

}

.inbox-compose .tags {
    border: none !important;
    font-size: 13px;
    padding: 0px;
    margin-bottom: 0px;
    margin-right: 50px;
    box-shadow: none !important;
}

.inbox-compose .tags-hover {
    border: 1px solid #ddd;
    border: none !important;
    box-shadow: none !important;
    background: none !important;
}

.inbox-compose .tags input[type="text"],
.inbox-compose .tags input[type="text"]:focus {
    display: inline-block !important;
    border: none !important;
    font-size: 14px !important;
    vertical-align: top;
    outline: 0;
    margin: 0;
    padding: 0;
    width: auto;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.inbox-compose .inbox-control-group a.close {
    top: 13px;
    right: 10px;
    position: absolute;
}

.inbox-compose .mail-to .inbox-cc-bcc {
    display: inline-block;
    top: 7px;
    right: 10px;
    color: #979797;
    font-size: 14px;
    cursor: pointer;
    position: absolute;
}

.inbox-compose .mail-to .inbox-bcc {
    margin-left: 5px;
}

.inbox-compose .mail-to inbox-cc:hover,
.inbox-compose .mail-to inbox-bcc:hover {
    color: #777;
}

.inbox-compose .wysihtml5 {
    padding: 0px !important;
    margin: 0px !important;
    border: 0 !important;
}

.inbox-compose .wysihtml5-sandbox {
    padding: 6px !important;
    margin: 0px !important;
    display: block !important;
    border: 0 !important;
    margin-top: 5px;
    width: 98% !important;
    border-left: none;
    border-right: none;
    border-color: #eee;
}


.inbox-compose .wysihtml5-toolbar {
    border: 0;
    border-bottom: 1px solid #eee;
}

.inbox-compose .wysihtml5-toolbar > li {
    height: 34px;
    margin-right: 0;
    margin-bottom: 0;
}

.inbox-compose .wysihtml5-toolbar > li > a,
.inbox-compose .wysihtml5-toolbar > li > div > a {
    background: #fff;
}

.inbox-compose .wysihtml5-toolbar .dropdown.open .dropdown-toggle,
ul.wysihtml5-toolbar a.btn.wysihtml5-command-active {
    background: #eee !important;
}

ul.buddy-online {
   margin-left: 15px;
}
ul.buddy-online li {
   list-style: none;
   margin-bottom: 10px;
}
ul.buddy-online li a {
   color: #5d5d5d;
   font-size: 14px;
}

ul.buddy-online li p {
   display: block;
   margin:0 16px;
   color: #c6c6c6;
}

ul.buddy-online h4 {
   color: #5d5d5d;
   text-transform: uppercase;
   font-size: 14px;
   font-weight: bold;
}

ul.buddy-online li span {
    width: 10px;
    height: 10px;
    display: inline-block;
    border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
}

ul.buddy-online li span.off-line {
    background: #a1a1a1;

}

ul.buddy-online li span.online {
    background: #65c300;
}

ul.buddy-online li span.busy {
    background: #c64534;
}



@media (max-width: 480px) {

    .inbox-compose .inbox-control-group > label {
        margin-top: 7px;
    }

}