            <!-- BEGIN PAGE CONTENT-->
            <div class="row-fluid" >
               <div class="span12">
                   <div class="space20"></div>
                   <div class="space20"></div>
                   <div class="widget-body">
                       <div class="error-page" style="min-height: 800px">
                           <img src="img/404.png" alt="404 error">
                           <h1>
                               <strong>404</strong> <br/>
                               Página no Encontrada
                           </h1>
                           <p>Lo sentimos, la página que intentas ver no está disponible en este momento.</p>
                       </div>
                   </div>
               </div>
            </div>
            <!-- END PAGE CONTENT-->
