<div id="mnuMenu">
    <li id='mnuNavegar' pagina='Navegar' icono='icon-dashboard'><a href="javascript:;" class=""><span class="icon-box"><i class="icon-dashboard"></i></span>Navegar</a></li>
    <li id='mnuUsuarios' class="has-sub">
        <a href="javascript:;" class="">
            <span class="icon-box"> <i class="icon-group"></i></span> Usuarios
            <span class="arrow"></span>
        </a>
        <ul class="sub">
            <li id='mnuVerUsuarios' pagina='verUsuarios' icono='icon-user-md'><a class=""><i class="icon-user-md"></i>Ver Usuarios</a></li>
            <li id='mnuCrearPerfil' pagina='crearPerfil' icono='icon-filter'><a class=""><i class="icon-filter"></i>Crear Perfil</a></li>
            <li id='mnuCrearUsuario' pagina='crearUsuario' icono='icon-user'><a class=""><i class="icon-user"></i>Crear Usuario</a></li>
        </ul>
    </li>
    <li id='mnuDocumentalCrear' pagina='crearDocumento' icono='icon-paste'><a href="javascript:;" class=""><span class="icon-box"><i class="icon-paste"></i></span>Crear Documento</a></li>

    <li id='mnuConfiguracion' class="has-sub">
        <a href="javascript:;" class="">
            <span class="icon-box"> <i class="icon-cogs"></i></span> Configuracion
            <span class="arrow"></span>
        </a>
        <ul class="sub">
            <li id='mnuIpal' class="has-sub" >
                <a href="javascript:;" class="">
                    <span class="icon-box"> <i class="icon-cogs"></i></span> Opcion 2
                    <span class="arrow"></span>
                </a>
                <ul class="sub">
                    <li id='mnuIpal' pagina='encuesta1' icono='icon-cogs'><a href="javascript:;" class=""><i class="icon-cogs"></i></span>Encuesta 1</a></li>
                </ul>
            </li>
            <li id='mnuIpal' pagina='editarBaremo' icono='icon-edit'><a href="javascript:;" class=""><i class="icon-edit"></i></span>Baremo</a></li>
        </ul>
    </li> 
    <li id='mnuPruebas' class="has-sub">
        <a href="javascript:;" class="">
            <span class="icon-box"> <i class="icon-wrench"></i></span> Pruebas
            <span class="arrow"></span>
        </a>
        <ul class="sub">
            <li id='mnuIpal' pagina='encuesta1' icono='icon-cogs'><a href="javascript:;" class=""><i class="icon-cogs"></i></span>Encuesta 1</a></li>
        </ul>
    </li>
</div> 
<script src="js/jquery-1.8.3.min.js"></script>
<script type="text/javascript">
    var handleMainMenu = function () {
        jQuery('#mnuMenu .has-sub > a').click(function () {
            var last = jQuery('.has-sub.open', $('#mnuMenu'));
            last.removeClass("open");
            jQuery('.arrow', last).removeClass("open");
            jQuery('.sub', last).slideUp(200);
            var sub = jQuery(this).next();
            if (sub.is(":visible")) {
                jQuery('.arrow', jQuery(this)).removeClass("open");
                jQuery(this).parent().removeClass("open");
                sub.slideUp(200);
            } else {
                jQuery('.arrow', jQuery(this)).addClass("open");
                jQuery(this).parent().addClass("open");
                sub.slideDown(200);
            }
        });
    }
    handleMainMenu();
</script>
