<link rel="stylesheet" type="text/css" href="assets/bootstrap-tree/bootstrap-tree/css/bootstrap-tree.css" />

<div class="widget-body">
    <div class="actions">
        <a class="btn btn-small" id="tree_1_collapse" href="javascript:;"> Collapse All</a>
        <a class="btn btn-small" id="tree_1_expand" href="javascript:;"> Expand All</a>
    </div>
    <div class="space10"></div>
    <ul id="tree_1" class="tree">
        <li>
            <a data-value="Bootstrap_Tree" data-toggle="branch" class="tree-toggle" data-role="branch" href="#">
                Bootstrap Tree
            </a>
            <ul class="branch in">
                <li>
                    <a id="nut1" data-value="Bootstrap_Tree" data-toggle="branch" class="tree-toggle" href="#">
                        Documents
                    </a>
                    <ul class="branch in">
                        <li>
                            <a id="nut2" data-value="Bootstrap_Tree" data-toggle="branch" class="tree-toggle closed" href="#">
                                Finance
                            </a>
                            <ul class="branch">
                                <li>
                                  <a class="tree-toggle closed" data-role="leaf" href="#"  data-value="Bootstrap_Tree" data-toggle="branch"><i class="icon-book"></i> Sale Revenue</a>
                                   <ul class="branch">
                                      <li><a data-role="leaf" href="#"><i class="icon-cloud"></i> Internal</a></li>
                                      <li><a data-role="leaf" href="#"><i class="icon-user-md"></i> Client Base</a></li>
                                      <li><a data-role="leaf" href="#"><i class="icon-retweet"></i> Product Base</a></li>
                                  </ul>
                                </li>
                                <li><a data-role="leaf" href="#"><i class="icon-fire"></i> Promotions</a></li>
                                <li><a data-role="leaf" href="#"><i class="icon-edit"></i> IPO</a></li>
                            </ul>
                        </li>
                        <li><a data-role="leaf" href="#"><i class="icon-magic"></i> ICT</a></li>
                        <li><a data-role="leaf" href="#"><i class="icon-user"></i> Human Resources</a></li>
                    </ul>
                </li>
                <li>
                    <a id="nut3" data-value="Bootstrap_Tree" data-toggle="branch" class="tree-toggle closed" href="#">
                        Examples
                    </a>
                    <ul class="branch">
                        <li><a data-role="leaf" href="#"><i class="icon-cloud"></i> Internal</a></li>
                        <li><a data-role="leaf" href="#"><i class="icon-user-md"></i> Client Base</a></li>
                        <li><a data-role="leaf" href="#"><i class="icon-retweet"></i> Product Base</a></li>
                    </ul>
                </li>
                <li>
                    <a id="nut4" data-value="Bootstrap_Tree" data-toggle="branch" class="tree-toggle" href="#">
                        Tasks
                    </a>
                    <ul class="branch in">
                        <li><a data-role="leaf" href="#"><i class="icon-suitcase"></i> Internal Projects</a></li>
                        <li><a data-role="leaf" href="#"><i class="icon-cloud-download"></i> Outsourcing</a></li>
                        <li><a data-role="leaf" href="#"><i class="icon-sitemap"></i> Bug Tracking</a></li>
                    </ul>
                </li>
                <li>
                    <a id="nut6" data-value="Bootstrap_Tree" data-toggle="branch" class="tree-toggle closed" href="#">
                        Customers
                    </a>
                    <ul class="branch">
                        <li><a data-role="leaf" href="#"><i class="icon-tags"></i> Finance</a></li>
                        <li><a data-role="leaf" href="#"><i class="icon-magic"></i> ICT</a></li>
                        <li><a data-role="leaf" href="#"><i class="icon-user"></i> Human Resources</a></li>
                    </ul>
                </li>
                <li>
                    <a id="nut8" data-value="Bootstrap_Tree" data-toggle="branch" class="tree-toggle closed" href="#">
                        Reports
                    </a>
                    <ul class="branch">
                        <li><a data-role="leaf" href="#"><i class="icon-tags"></i> Finance</a></li>
                        <li><a data-role="leaf" href="#"><i class="icon-magic"></i> ICT</a></li>
                        <li><a data-role="leaf" href="#"><i class="icon-user"></i> Human Resources</a></li>
                    </ul>
                </li>
                <li>
                    <a data-role="leaf" target="_blank" href="http://themeforest.net/item/admin-lab-responsive-admin-dashboard-template/full_screen_preview/4701827">
                        <i class="icon-share"></i> External Link
                    </a>
                </li>
                <li>
                    <a data-role="leaf" target="_blank" href="http://themeforest.net/item/admin-lab-responsive-admin-dashboard-template/full_screen_preview/4701827">
                        <i class="icon-share"></i> Another External Link
                    </a>
                </li>
            </ul>
        </li>
    </ul>
</div>
<script src="js/jquery-1.8.3.min.js"></script>
  
   <script src="assets/bootstrap-tree/bootstrap-tree/js/bootstrap-tree.js"></script>
   
   <script src="js/ui-tree.js"></script>

   <script>
      jQuery(document).ready(function() {       
         // initiate layout and plugins
         UITree.init();
      });
   </script>