            <!-- BEGIN PAGE CONTENT-->
              <form id="frmCrearUsuario" class="form-horizontal">
                <div class="control-group">
                    <label class="control-label">Nombre:</label>
                    <div class="controls">
                       <div class="input-prepend">
                          <span class="add-on  icon-credit-card"></span><input class="input-xxlarge" type="text" placeholder="Nombre" required id="txtCrearUsuario_Nombre" />
                       </div>
                    </div>
                 </div>
                <div class="control-group">
                    <label class="control-label">Correo</label>
                    <div class="controls">
                       <div class="input-prepend">
                          <span class="add-on  icon-envelope-alt"></span><input class="input-xlarge" type="email" placeholder="Correo de Contacto" required id="txtCrearUsuario_Correo" />
                       </div>
                    </div>
                 </div>
                 <div class="control-group">
                    <label class="control-label">Cargo</label>
                    <div class="controls">
                       <div class="input-prepend">
                          <span class="add-on  icon-coffee"></span><input class="input-xlarge" type="text" placeholder="Cargo" required id="txtCrearUsuario_Cargo" />
                       </div>
                    </div>
                 </div>
                 <div class="control-group">
                    <label class="control-label">Cargar Foto</label>
                    <div class="controls">
                        <div class="fileupload fileupload-new" data-provides="fileupload">
                            <div class="fileupload-new thumbnail" style="width: 200px; height: 150px;">
                                <img src="img/photo.jpg" alt="" />
                            </div>
                            <div class="fileupload-preview fileupload-exists thumbnail" style="max-width: 200px; max-height: 150px; line-height: 20px;"></div>
                            <div>
                       <span class="btn btn-file"><span class="fileupload-new">Cargar imagen</span>
                       <span class="fileupload-exists">Cambiar</span>
                       <input type="file" class="default" /></span>
                                <a href="#" class="btn fileupload-exists" data-dismiss="fileupload">Quitar</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="control-group">
                  <label class="control-label">Perfil:</label>
                  <div class="controls">
                     <select class="span6 chosen" data-placeholder="Seleccione el Perfil" tabindex="1" id="txtCrearUsuario_Perfil"></select>
                  </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Nombre de Usuario:</label>
                    <div class="controls">
                       <div class="input-prepend">
                          <span class="add-on  icon-user"></span><input class="input-xlarge" type="text" placeholder="Nombre de Usuario" required id="txtCrearUsuario_Usuario" />
                       </div>
                    </div>
                 </div>
                <div class="control-group">
                    <label class="control-label">Clave:</label>
                    <div class="controls">
                       <div class="input-prepend">
                          <span class="add-on  icon-asterisk"></span><input class="input-xlarge" type="password" placeholder="Clave de Acceso" required id="txtCrearUsuario_Clave" />
                       </div>
                    </div>
                 </div>
                <div class="control-group">
                    <label class="control-label">Nuevamente Clave:</label>
                    <div class="controls">
                       <div class="input-prepend">
                          <span class="add-on  icon-asterisk"></span><input class="input-xlarge" type="password" placeholder="Nuevamente Clave de Acceso" required id="txtCrearUsuario_Clave2" />
                       </div>
                    </div>
                 </div>
                 <div class="control-group">
                  <label class="control-label">Empresa:</label>
                  <div class="controls">
                     <select class="span6 chosen" data-placeholder="Seleccione la Empresa" tabindex="1" id="txtCrearUsuario_Empresa"></select>
                  </div>
                </div>
                 </div>
                  <div class="form-actions">
                      <button type="submit" class="btn btn-success"><i class="icon-ok"></i> Guardar</button>
                      <button type="reset" class="btn btn-danger"><i class="icon-remove"></i> Borrar</button>
                  </div>
              </form>
            <!-- END PAGE CONTENT-->         
      <!-- END PAGE -->  
   <!-- BEGIN JAVASCRIPTS -->    
   <script>
      jQuery(document).ready(function() {       
         // initiate layout and plugins
         crearUsuario();
      });
   </script>
   <!-- END JAVASCRIPTS -->   
</html>