
<iframe id="frameNavegar" scrolling="no" src="Archivos/index.html?par=hd"></iframe>
<button id="btnCrearDocumento_BuscarSinAsociar" class="btn btn-warning"> Actualizar Listado</button>
<button id="btnCrearDocumento_ReindexarArchivos" class="btn btn-info"> Reindexar Archivos</button>
<table class="table table-hover file-search noMostrar" id="tblCrearDocumento_SinAsociar">
	<thead>
		<tr>
		    <th>Archivo</th>
		    <th>Tamaño</th>
		    <th>Fecha de Creación</th>
		</tr>
	</thead>
	<tbody>
	</tbody>
</table>
<div class="alert alert-success" id="msgCrearDocumento_NoHayArchivos">
	<button class="close" data-dismiss="alert">×</button>
	<strong>!</strong> Todos los archivos estan Asociados.
</div>


<form id="frmAsociarDocumento" class="form-horizontal noMostrar" idArchivo="0">
	<div class="control-group">
     <label class="control-label">Tipo:</label>
     <div class="controls">
        <input class="input-xlarge" type="text" placeholder="Tipo" id="txtCrearArchivo_Tipo" >
     </div>
  </div>
  <div class="control-group">
     <label class="control-label">Operador:</label>
     <div class="controls">
        <input class="input-xlarge" type="text" placeholder="Operador" id="txtCrearArchivo_Operador" >
     </div>
  </div>
  <div class="control-group">
     <label class="control-label">Fecha de Envío:</label>
     <div class="controls">
             <input type="text" class="m-wrap medium" id='txtCrearArchivo_FechaEnvio'>
     </div>
 </div>
 <div class="control-group">
     <label class="control-label">Fecha de Radicado:</label>
     <div class="controls">
             <input type="text" class="m-wrap medium" id='txtCrearArchivo_FechaRadicado'>
     </div>
 </div>
  <div class="control-group">
     <label class="control-label">Consecutivo:</label>
     <div class="controls">
        <input class="input-large" type="text" placeholder="Consecutivo" id="txtCrearArchivo_Consecutivo" required>
     </div>
  </div>
  <div class="control-group">
     <label class="control-label">Radicado MinTIC:</label>
     <div class="controls">
        <input class="input-large" type="text" placeholder="Radicado MinTIC" id="txtCrearArchivo_RadicadoMinTIC" >
     </div>
  </div>
  <div class="control-group">
     <label class="control-label">Radicado Operador:</label>
     <div class="controls">
        <input class="input-large" type="text" placeholder="Radicado Operador" id="txtCrearArchivo_RadicadoOperador" >
     </div>
  </div>
  <div class="control-group">
     <label class="control-label">Radicado WSP:</label>
     <div class="controls">
        <input class="input-large" type="text" placeholder="Radicado WSP" id="txtCrearArchivo_RadicadoWSP" >
     </div>
  </div>
  <div class="control-group">
     <label class="control-label">Asunto:</label>
     <div class="controls">
        <input class="input-xlarge" type="text" placeholder="Asunto" id="txtCrearArchivo_Asunto" required>
     </div>
  </div>
  <div class="control-group">
     <label class="control-label">Palabras Clave:</label>
     <div class="controls">
        <input class="input-xlarge" type="text" placeholder="Palabras Clave" id="txtCrearArchivo_PalabrasClave" required>
     </div>
  </div>
</form>
<script>
      jQuery(document).ready(function() {       
         crearDocumento();
      });
   </script>