<!-- BEGIN PAGE CONTENT-->
<div class="row-fluid" id="ipalContenido">
       <div class="span12">
          <div class="widget box blue" id="form_wizard_1">
             <div class="widget-body form">
      <form id="frmIpal" class="form-horizontal">
          <div class="control-group">
              <label class="control-label">Empresa</label>
              <div class="controls">
                  <select placeholder="Empresa" class="input-large" id='txtIpal_Nombre'>
                    <option value=''>Seleccione una Empresa</option>
                    <option value='CAM'>CAM</option>
                    <option value='MICOL'>MICOL</option>
                    <option value='DELTEC'>DELTEC</option>
                    <option value='MEC'>MEC</option>
                    <option value='JMSedinko'>JMSedinko</option>
                    <option value='1'>Otra</option>
                  </select>
                  <input type="text" placeholder="Nombre de la Otra Empresa" class="noMostrar" id='txtIpal_OtraEmpresa'>
              </div>
          </div>
              <div class="control-group">
                  <label class="control-label">Prop</label>
                  <div class="controls">
                      <input type="text" placeholder="Cel/Avantel" class="input-large" id='txtIpal_Celular' required/>
                  </div>
              </div>
              <div class="control-group">
                  <label class="control-label">Colab</label>
                  <div class="controls">
                      <input type="text" placeholder="Tipo Vehículo" class="input-large" id='txtIpal_TipoVehiculo' />
                  </div>
              </div>
        
        
         <div class="control-group">
              <label class="control-label">CENTROS DE TRABAJO</label>
              <div class="controls">
                  <select placeholder="Empresa" class="input-large" id='txtIpal_Nombre_'>
                    <option value=''>Seleccione uno</option>
                    <option value='CAM'>MUÑA CHARQUITO</option>
                    <option value='MICOL'>TEQSALIM</option>
                    <option value='DELTEC'>GUACA</option>
                    <option value='MEC'>PARAISO</option>
                    <option value='JMSedinko'>TERMOZIPA</option>
                    <option value='2'>GUAVIO</option>
                    <option value='3'>CARTAGENA</option>
                    <option value='3'>SEDES ADMINISTRAT</option>
                    <option value='3'>BETANIA</option>
                    <option value='3'>JUNCA - TINTA</option>
                    <option value='3'>QUIMBO</option>
                  </select>
                  <input type="text" placeholder="Nombre de la Otra Empresa" class="noMostrar" id='txtIpal_OtraEmpresa'>
              </div>
          </div>

          <div class="control-group">
              <label class="control-label">AREA DE TRABAJO</label>
              <div class="controls">
                  <select placeholder="Empresa" class="input-large" id='txtIpal_Nombre__'>
                    <option value=''>Seleccione uno</option>
                    <option value='CAM'>ADMINISTRATIVA</option>
                    <option value='MICOL'>ELECTRICA</option>
                    <option value='DELTEC'>MECANICA</option>
                    <option value='MEC'>OPERACIÓN</option>
                    <option value='JMSedinko'>CIVIL</option>
                  </select>
                  <input type="text" placeholder="Nombre de la Otra Empresa" class="noMostrar" id='txtIpal_OtraEmpresa'>
              </div>
          </div>

          <div class="control-group">
              <label class="control-label">Actividad</label>
              <div class="controls">
                  <input type="text" placeholder="Trabajo a Realizar" class="input-xlarge" id='txtIpal_Trabajo' required/>
              </div>
          </div>
          <div class="control-group">
              <label class="control-label">Lugar</label>
              <div class="controls">
                  <input type="text" placeholder="Proceso" class="input-xlarge" id='txtIpal_Proceso' required/>
              </div>
          </div>


       <div class="span12">

        <h4>Cuadrilla</h4>
          <div class="btn-group">
              <button id="btnIpal_AgregarCuadrillero" class="btn green">
                  Agregar Integrante <i class="icon-plus"></i>
              </button>
          </div>

         <table class="table table-striped table-hover table-bordered" id="tableIpalCuadrilla">
              <thead>
              <tr>
                  <th class="span2">Cedula</th>
                  <th class="span6">Nombres y Apellidos</th>
                  <th class="span2">Función Cargo</th>
                  <th class="span2"></th>
              </tr>
              </thead>
              <tbody></tbody>
          </table>
       </div>
               <div class="form-wizard">
                  <div class="navbar steps">
                     <div class="navbar-inner">
                        <ul class="row-fluid">
                        </ul>
                     </div>
                  </div>
                  <div id="bar" class="progress progress-striped">
                     <div class="bar"></div>
                  </div>
                  <div class="tab-content">
                     <div class="tab-pane active form-horizontal" id="tab1">
                        <h3 class="page-title"></h3>
                        <button id="btnIpal_IrAMenu" class="btn btn-danger"><i class="icon-arrow-up"></i> Ir a Menu</button>
                        
                     </div>
                  </div>
                      <div id="ContenedorIframes" class="span12">
                        <iframe id="ipalSubir" scrolling="no" class="span6"></iframe>
                        <iframe src="assets/firma" scrolling="no" class="span6"></iframe>
                      </div>
                  <div class="form-actions">
                        <div class="control-group">
                            <label class="control-label">Observaciones</label>
                            <div class="controls">
                                <textarea class="input-large" placeholder='Observaciones de la Inspección' rows="3" id="txtIpal_Observaciones"></textarea>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">Responsable:</label>
                            <div class="controls">
                               <div class="input-prepend">
                                  <span class="add-on  icon-credit-card"></span><input class="input-large" type="text" placeholder="Responsable de la Inspección" id="txtIpal_Responsable" required />
                               </div>
                            </div>
                         </div>
                         <div class="control-group">
                            <label class="control-label">Cargo-Empresa:</label>
                            <div class="controls">
                               <div class="input-prepend">
                                  <span class="add-on icon-barcode"></span><input class="input-large" type="text" placeholder="Cargo-Empresa" id="txtIpal_ResponsableCargo" required />
                               </div>
                            </div>
                         </div>
                         <div class="control-group">
                            <label class="control-label">Recibió:</label>
                            <div class="controls">
                               <div class="input-prepend">
                                  <span class="add-on  icon-credit-card"></span><input class="input-large" type="text" placeholder="Inspección recibida por" id="txtIpal_Recibio" required />
                               </div>
                            </div>
                         </div>
                         <div class="control-group">
                            <label class="control-label">Cargo-Empresa:</label>
                            <div class="controls">
                               <div class="input-prepend">
                                  <span class="add-on icon-barcode"></span><input class="input-large" type="text" placeholder="Cargo-Empresa" id="txtIpal_RecibioCargo" required />
                               </div>
                            </div>
                         </div>
                        
                          <div class="form-actions">
                              <button type="submit" class="btn btn-success"><i class="icon-ok"></i> Guardar</button>
                              <button type="reset" id="btnIpalReset" class="btn btn-danger"><i class="icon-remove"></i> Nuevo</button>
                          </div>
               
                              </div>
                           </div>
                        </form>
                     </div>
                  </div>
               </div>
            </div>
            <!-- END PAGE CONTENT-->
   <script>
      jQuery(document).ready(function() {       
         // initiate layout and plugins
         cargarIpal();
      });
   </script>
   <!-- END JAVASCRIPTS -->   
