    <li id='mnuNavegar' pagina='Navegar' icono='icon-dashboard'><a href="javascript:;" class=""><span class="icon-box"><i class="icon-dashboard"></i></span>Navegar</a></li>
<li id='mnuUsuarios' class="has-sub">
    <a href="javascript:;" class="">
        <span class="icon-box"> <i class="icon-group"></i></span> Usuarios
        <span class="arrow"></span>
    </a>
    <ul class="sub">
        <li id='mnuVerUsuarios' pagina='verUsuarios' icono='icon-user-md'><a class=""><i class="icon-user-md"></i>Ver Usuarios</a></li>
        <li id='mnuCrearPerfil' pagina='crearPerfil' icono='icon-filter'><a class=""><i class="icon-filter"></i>Crear Perfil</a></li>
        <li id='mnuCrearUsuario' pagina='crearUsuario' icono='icon-user'><a class=""><i class="icon-user"></i>Crear Usuario</a></li>
    </ul>
</li>
<li id='mnuDocumentalCrear' pagina='crearDocumento' icono='icon-paste'><a href="javascript:;" class=""><span class="icon-box"><i class="icon-paste"></i></span>Crear Documento</a></li>
<li id='mnuEncuesta' pagina='encuestaIFRAME' icono='icon-paste'><a href="javascript:;" class=""><span class="icon-box"><i class="icon-paste"></i></span>Encuesta</a></li>
<li id='mnuVerEncuestas' pagina='reporteEncuestas' icono='icon-paste'><a href="javascript:;" class=""><span class="icon-box"><i class="icon-paste"></i></span> Ver Encuestas</a></li>

<li id='mnuConfiguracion' class="has-sub">
    <a href="javascript:;" class="">
        <span class="icon-box"> <i class="icon-cogs"></i></span> Configuracion
        <span class="arrow"></span>
    </a>
    <ul class="sub">
        <li id='mnuIpal' pagina='editarTabla' icono='icon-table'><a href="javascript:;" class=""><i class="icon-table"></i></span>Tabla</a></li>
        <li id='mnuIpal' pagina='editarBaremo' icono='icon-edit'><a href="javascript:;" class=""><i class="icon-edit"></i></span>Baremo</a></li>
    </ul>
</li> 
<li id='mnuPruebas' class="has-sub">
    <a href="javascript:;" class="">
        <span class="icon-box"> <i class="icon-wrench"></i></span> Pruebas
        <span class="arrow"></span>
    </a>
    <ul class="sub">

        <li id='mnuIpal' pagina='encuesta1' icono='icon-cogs'><a href="javascript:;" class=""><i class="icon-cogs"></i></span>Encuesta 1</a></li>
    </ul>
</li> 

<script type="text/javascript">
    jQuery(document).ready(function() 
    {
        if (Usuario.idPerfil != 3)
        {
            if (Usuario.idPerfil > 1)
            {
                /*$.post("php/privilegios.php", {usuario : Usuario.id}, 
                    function(data) {
                        $.each(data, function(index, value)
                            {
                                $("#" + value.idFuncion).remove();  
                                if (value.idFuncion == "mnuNavegar")
                                {*/
                                    $("#contenedorNavegar").load("Navegar.html", function()
                                    {
                                      NavegadorArchivos();
                                    });
                                    /*
                                    $.post("cargarFrame.php", {archivo: "Navegar.html"}, 
                                    function(data)
                                    {
                                        $("#contenedorModulos").html(data);  
                                    });*//*
                                }
                            });
                        
                    }, "json").fail(function() 
                    {
                        $("#sideMenu li").remove();
                        Mensaje("Error", "No fue posible cargar las Funciones, por favor actuliza la página.");
                    });*/
            } else
            {
                $("#contenedorNavegar").load("Navegar.html", function()
                {
                  NavegadorArchivos();
                });
            } 
        }
        else
        {
                $("#contenedorNavegar").load("Navegar.html", function()
                {
                  NavegadorArchivos();
                  cerrarMenu();
                });

        }
    });
</script>