  <br><br>
<form class="form-horizontal search-result" id="frmBuscarArchivo">
  <div class="control-group">
      <label class="control-label">Busqueda</label>
      <div class="controls">
          <input type="text" class="input-xxlarge" id="txtBuscarArchivo_Parametro" >
          <p class="help-block" id="lblBuscarArchivo_Help"></p>
      </div>
      <button type="submit" class="btn btn-info">BUSCAR</button>
      <button id="btnBuscarArchivo_BusquedaAvanzada" class="btn btn-warning">BUSQUEDA AVANZADA</button>
      <button id="btnBuscarArchivo_CerrarBusqueda" class="btn btn-danger">CERRAR BUSQUEDA</button>
  </div>
  <div id="BuscarArchivo_Resultados"></div>
</form>
<form id="frmBuscarArchivo_BusquedaAvanzada" class="noMostrar form-horizontal">
   <div class="control-group">
     <label class="control-label">Tipo:</label>
     <div class="controls">
        <input class="input-xxlarge" type="text" placeholder="Tipo" id="txtBuscarArchivo_Tipo" />
     </div>
  </div>
  <div class="control-group">
     <label class="control-label">Operador:</label>
     <div class="controls">
        <input class="input-xxlarge" type="text" placeholder="Operador" id="txtBuscarArchivo_Operador" />
     </div>
  </div>
  <div class="control-group">
     <label class="control-label">Fecha de Envío:</label>
     <div class="controls">
             <input type="text" class="m-wrap medium" id='txtBuscarArchivo_FechaEnvio'>
     </div>
 </div>
 <div class="control-group">
     <label class="control-label">Fecha de Radicado:</label>
     <div class="controls">
             <input type="text" class="m-wrap medium" id='txtBuscarArchivo_FechaRadicado'>
     </div>
 </div>
  <div class="control-group">
     <label class="control-label">Consecutivo:</label>
     <div class="controls">
        <input class="input-large" type="text" placeholder="Consecutivo" id="txtBuscarArchivo_Consecutivo" />
     </div>
  </div>
  <div class="control-group">
     <label class="control-label">Radicado MinTIC:</label>
     <div class="controls">
        <input class="input-large" type="text" placeholder="Radicado MinTIC" id="txtBuscarArchivo_RadicadoMinTIC" />
     </div>
  </div>
  <div class="control-group">
     <label class="control-label">Radicado Operador:</label>
     <div class="controls">
        <input class="input-large" type="text" placeholder="Radicado Operador" id="txtBuscarArchivo_RadicadoOperador" />
     </div>
  </div>
  <div class="control-group">
     <label class="control-label">Radicado WSP:</label>
     <div class="controls">
        <input class="input-large" type="text" placeholder="Radicado WSP" id="txtBuscarArchivo_RadicadoWSP" />
     </div>
  </div>
  <div class="control-group">
     <label class="control-label">Asunto:</label>
     <div class="controls">
        <input class="input-xxlarge" type="text" placeholder="Asunto" id="txtBuscarArchivo_Asunto" />
     </div>
  </div>
  <div class="control-group">
     <label class="control-label">Palabras Clave:</label>
     <div class="controls">
        <input class="input-xxlarge" type="text" placeholder="Palabras Clave" id="txtBuscarArchivo_PalabrasClave" />
     </div>
  </div>
  <button type="submit" class="btn btn-info">BUSCAR</button>
  
</form>
<div id="arbolInicial"></div>


