<div>
  <form id="frmReporteEncuestas" class="control-group">
      <label class="control-label">Fecha</label>
      <div class="controls">
          <input class="m-wrap small" size="16" type="text" value="" id="txtReporteEncuestas_Desde" >
          <span class="text-inline">&nbsp;Hasta&nbsp;</span>
          <input class="m-wrap small" size="16" type="text" value="" id="txtReporteEncuestas_Hasta" >
          <img src="assets\pre-loader\Sun.gif" class="noMostrar icoCargando">
          
          <button class="btn btn-warning" id="btnReporteEncuestas_BusquedaAvanzada"><i class="icon-search"></i> Busqueda Avanzada</button>
          <button class="btn btn-info" id="btnReporteEncuestas_DescargarMatriz"><i class="icon-download-alt"></i> Descargar Matriz</button>
      </div>
      <div id="frmReporteEncuestas_BusquedaAvanzada" class="form-horizontal noMostrar">
        <div class="control-group">
            <label class="control-label">Cod Beneficiario</label>
            <div class="controls">
                <input type="text" placeholder="Codigo del Beneficiario" class="input-medium" id="txtReporteEncuestas_CodBeneficiario" >
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Departamento</label>
            <div class="controls">
                <input type="text" placeholder="Departamento" class="input-xlarge" id="txtReporteEncuestas_Departamento" >
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Municipio</label>
            <div class="controls">
                <input type="text" placeholder="Municipio" class="input-xlarge" id="txtReporteEncuestas_Municipio" >
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Direccion</label>
            <div class="controls">
                <input type="text" placeholder="Direccion" class="input-xxlarge" id="txtReporteEncuestas_Direccion" >
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Tipo</label>
            <div class="controls">
                <select type="text" placeholder="Tipo" class="input-medium" id="txtReporteEncuestas_Tipo" >
                  <option value="">Todas</option>
                  <option value="Visita">Visita</option>
                  <option value="Telefonica">Telefonica</option>
                </select>
            </div>
        </div>
      </div>
      <div class="form-actions">
        <button class="btn btn-success" type="submit"><i class="icon-search"></i> Buscar</button>
      </div>
  </form>
  <div class="widget-body">
    <table class="table table-striped table-bordered table-advance" id="tblEncuestas">
      <thead>
          <tr>
            <th></th>
            <th>Codigo</th>
            <th>Fecha</th>
            <th>Hora</th>
            <th>Departamento</th>
            <th>Municipio</th>
            <th>Direccion</th>
            <th>Tipo</th>
            <th>Mapa</th>
            <th>Detalles</th>
          </tr>
      </thead>
      <tbody></tbody>
    </table>
  </div>
</div>
   <!-- BEGIN JAVASCRIPTS -->
   <!-- Load javascripts at bottom, this will reduce page load time -->
   <script>
      jQuery(document).ready(function() {       
         // initiate layout and plugins
         reporteEncuestas();
           fechasRango($("#txtReporteEncuestas_Desde"), $("#txtReporteEncuestas_Hasta"));

        var f = new Date();
        f = f.getFullYear() + "-" + CompletarConCero(f.getMonth() +1, 2) + "-" + CompletarConCero(f.getDate(), 2);
        $("#txtReporteEncuestas_Desde").val(f);
        $("#txtReporteEncuestas_Hasta").val(f);
      });
   </script>
</body>
<!-- END BODY -->