<div>
  <form id="frmSGD" class="form-horizontal">
        <div class="control-group">
          <label class="control-label">Fecha</label>
          <div class="controls">
              <input class="m-wrap small" size="16" type="text" value="" id="txtSGD_Desde" >
              <input class="m-wrap small" size="16" type="text" value="" id="txtSGD_Hasta" >
              <img src="assets\pre-loader\Sun.gif" class="noMostrar icoCargando">
          </div>
        </div>
        <div class="control-group">
          <label class="control-label">Consecutivo</label>
          <div class="controls">
              <input class="m-wrap small" size="16" type="text" value="" id="txtSGD_Consecutivo" >
          </div>
        </div>
        <div class="control-group">
          <label class="control-label">Radicado</label>
          <div class="controls">
              <input class="m-wrap small" size="16" type="text" value="" id="txtSGD_Nombre_" >
          </div>
        </div>
        <div class="control-group">
          <label class="control-label">Radicado 2</label>
          <div class="controls">
              <input class="m-wrap small" size="16" type="text" value="" id="txtSGD_Nombre__" >
          </div>
        </div>
        <div class="control-group">
          <label class="control-label">Descripción</label>
          <div class="controls">
              <textarea class="m-wrap small" size="16" type="text" value="" id="txtSGD_Descripcion" ></textarea>
          </div>
        </div>
        <br>
        <div class="control-group">
          <label class="control-label">Nombre Archivo</label>
          <div class="controls">
              <input class="m-wrap small" size="16" type="text" value="" id="txtSGD_Nombre" >
          </div>
        </div>
      <div class="form-actions">
        <button class="btn btn-success" type="submit"><i class="icon-search"></i> Buscar</button>
      </div>
            
  </form>
  <div class="widget-body">
    <table class="table table-striped table-bordered" id="tblSGD">
      <thead>
          <tr>
            <th class="hidden-phone">Fecha</th>
            <th class="hidden-phone">Tipo</th>
            <th class="hidden-phone">Consecutivo</th>
            <th class="hidden-phone">Nombre Archivo</th>
            <th class="hidden-phone">Descripcion</th>
            <th class="hidden-phone">Usuario</th>
            <th></th>
          </tr>
      </thead>
      <tbody></tbody>
    </table>
  </div>
</div>
   <!-- BEGIN JAVASCRIPTS -->
   <!-- Load javascripts at bottom, this will reduce page load time -->
   <script>
      jQuery(document).ready(function() {       
         // initiate layout and plugins
         SGD();
           fechasRango($("#txtSGD_Desde"), $("#txtSGD_Hasta"));

        var f = new Date();
        f = f.getFullYear() + "-" + CompletarConCero(f.getMonth() +1, 2) + "-" + CompletarConCero(f.getDate(), 2);
        $("#txtSGD_Desde").val(f);
        $("#txtSGD_Hasta").val(f);
      });
   </script>
</body>
<!-- END BODY -->