<!-- BEGIN BODY -->
<body class="fixed-top">
   <!-- BEGIN CONTAINER -->
   <img src="assets\pre-loader\Sun.gif" class="noMostrar icoCargando">
                        <div class="widget-body">
                            <table class="table table-striped table-bordered" id="tblUsuarios">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th class="hidden-phone"></th>
                                    <th class="hidden-phone">Usuario</th>
                                    <th class="hidden-phone">Nombre</th>
                                    <th class="hidden-phone">Correo</th>
                                    <th class="hidden-phone">Perfil</th>
                                    <th class="hidden-phone">Estado</th>
                                    <!--<th class="hidden-phone"></th>-->
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                        </div>
   <!-- BEGIN JAVASCRIPTS -->
   <!-- Load javascripts at bottom, this will reduce page load time -->
   <script>
      jQuery(document).ready(function() {       
         // initiate layout and plugins
         verUsuarios();
      });
   </script>
</body>
<!-- END BODY -->