@font-face
{
	font-family: "Nunito";
	src: url("Nunito-Regular.ttf");
}
html
{
	overflow-x: hidden;
}
	
body
{
	background: #f8f8f8;
	display: inline-block;
	font-family: "Nunito";
	font-size: 18px;
	overflow-x: hidden;
	width: 100%;
}
header
{
	background: #4D4D4D;
	border: none;
	color: white;
	min-height: 2em;
	margin: 0;
	padding: 1em;
	text-align: right;
	
	width: auto;
}
#imgHeader
{
	float: left;
}
button
{
	cursor: pointer;
}
input
{
	min-height: 2em;
}


footer
{
	background: none;
	height: 2em;
	text-align: right;
}

.inputForm
{
	background-color: white;
	border-color: black;
	border-style:solid;
	border-width:1px;
	margin: 0.8em 0 0.8em 0;
	padding: 0.4em 0.6em 0.4em 0.6em;
	width: 35%;
}
.labelForm
{
	float: left; 
	clear: right;
	margin: 0.4em 1.2em 0.4em 0;
	text-align: right;    
	width: 35%;
}
#MainMenu
{
	margin: 7px 0;
	width: 18%;
}
#MainMenu li a 
{
	
	background: #F2F2F2;
	border: solid;
	border-color: #E6E6E6;
	border-width: 1px;
	color: #3b3b3b;
  	height: 2em;
  	display: inline;
	text-decoration: none;
}	
#MainMenu li a:link, #MainMenu li a:visited
{
	display: block;
	padding: 8px 0 0 10px;
}

#MainMenu li a:hover {
	color: white;
	background: #0274b0;
	/*padding: 8px 0 0 10px;*/
}
	
#SelectedSection
{
	background: #C7C7C7;
	display: inline-block; 
    height: 2em;
    padding: 2px 0 0 0;
    text-align: center;

	width: 100%;
}
#SelectedSection h4
{
	background: #C7C7C7;
	border-bottom: solid;
	border-width: 2px;
}
#SelectedSection img
{
	cursor: pointer;
	float: left;
	margin: 8px 4px 0 8px;
}


.Seccion
{
	left: 19%;
	padding: 1em;
	position: absolute;
	top: 7em;
	width: 78%;
	background: white;
	box-shadow: rgba(0,0,0,0.8) 1px 1px 3px;

	overflow-x: auto;
}
.Seccion_SinMenu
{
	left: 2em;
	position: absolute;
	top: 7em;
	width: 98%;
	background: white;
	box-shadow: rgba(0,0,0,0.8) 0px 4px 10px;
}
/*	background: PaleGoldenRod ;*/
	
#MyAccount_Options_CreatingUsers
#AccessData_Message, 
#alertEstadoLogin, 
#CompanyData, 
#CompanyData_Edit,
#CreatingUsers_Create,
#MyUsers_Delete, 
#MyUsers_DeleteAlert, 
#MyUsers_DeleteUser, 
#MyUsersEdit_CompanyData, 
#MyUsersEdit_Message, 
#MyUsers_Edit, 
#MyUsers_Edit_Confirm, 
#MyAccount_Options_CreatingUsers,
#MyAccount_Options_Permissions_Delete, 
#MyUsersEdit_Permissions,  
#PersonalInformation_Message,
#Users,
#tableDeleteMyUsers,
#MyUsers_Edit_Key,
#Users_Message,
#lnkOcultarMenu,
#MyUsersEdit_Message_Key,
#frmInpeccion_Preguntas,
#Inspeccion,
#DatosVehiculo,
#divDatosVehiculo,
#Inspeccion_Preguntas,
#Inspeccion_Evaluar,
#radioset_Empresas_Zonas,
#radioset_Multa_Zona,
#Multa,
#Vehiculos,
#cntVehiculo_Datos,
#rdbV_TipoInspeccion_Hallazgo, 
#rdbV_TipoInspeccion_Inmovilizar,
#Seguridad_Datos_Velocidad,
#rdbS_TipoInspeccion_Hallazgo,
#Seguridad_Datos_Alcoholimetria,
#cntTestAutomatica,
#Hallazgos,
#Vehiculo_InspeccionDiaria_Contenedores,
#Vehiculo_InspeccionPeriodica_Contenedores,
.tableHallazgosPorSeleccionar,
#Hallazgo,
#HallazgoVehiculo,
#Vehiculo_InspeccionDiaria_Tipos_SubGrupos,
#Vehiculos_Inmovilizar,
#Vehiculos_InspeccionDiaria,
#radioset_Vehiculo_TipoInspeccion,
#Vehiculo_ConfirmarInspeccion,
#Hallazgos_S,
#Operaciones,
#Operaciones_Mediciones,
#btnVehiculos_NuevoBus,
#Vehiculos_Habilitar,
#Vehiculos_InspeccionPeriodica_Categorias,
#Vehiculos_InspeccionPeriodica_Preguntas,
#VehiculosInmovilizados,
#CriteriosInmovilizacion,
#EditarMultas,
#Seguridad,
#ObservacionesHabilitacion,
#Hallazgos,
#Hallazgos_Mediciones,
#InspeccionDiaria,
#InspeccionPeriodica,
#ReporteVehiculos,
#Vehiculos_Mediciones,
#VehiculosNovedadesPendientes,
.imgCargando,
#VehiculosObservacionesCorrecion,
#Seguridad_Mediciones,
#Hallazgos_menu,
#SubirConductores,
#SubirBuses,
#SubirInmovilizados,
#ReporteHallazgos,
#UbicacionTecnicos,
#ReporteHallazgosPorVencer,
#secEditarHallazgo,
#FlotaInoperativa,
#FIObservacionesHabilitacion,
#ReporteFlotaInoperativa,
#Alcoholimetria,
#Velocidad,
#SeguridadOperacional,
#AlcoholimetriaEspecial,
#SubirHallazgos,
#SubirInspecciones,
#txtSeguridad_TipoMedicion,
#NovedadesConcesionario,
#HallazgosCorregir,
#CorregirHallazgos,
#CrearInsPeriodica,
#CrearHallazgo,
#MatrizFlotaInoperativa,
#VehiculosNovedadesPendientesPopUp,
#btnGenHallazgos_Descargar
{
	display: none;
}
#MyUsers_InfoUser
{
	border-radius: 0.6em;
	border-style: solid;
	border-width: 2px;
	box-shadow: rgba(0,0,0,0.8) 0px 4px 10px;
	margin: 2em;
	padding: 2em;
	width: 90%;
}
#MyUsers_InfoUser li
{
	display: block;
	margin: 0 0 0 3em;
}
#MyUsers_InfoUser #MyUsers_InfoUser_Botones
{
	display: block;
	position: absolute;
	left: 5em;
	bottom: 5em;
	width: 4em;
}
#tableMyUsers td
{
	cursor: pointer;
}
.password {
	font-size : 12px;
	border : 1px solid #cc9933;
	/*width : 200px;*/
	font-family : arial, sans-serif;
}
.pstrength-minchar {
	font-size : 10px;
}

#MyAccount_Options_MyUsers
{
	margin: 1em;
}

.btnInspeccion
{
	background: #3399CC;
	border-radius: 0.5em;
	box-shadow: rgba(0,0,0,0.8) 2px 2px 10px;
	height: 3em;
	margin: 1em;
	padding: 0.4em;
	text-align: center;
	width: 10em;	
}
.btnInspeccion:hover
{
	background-color: peru;
	cursor: pointer;
}
#radioset_Empresas
{
	padding: 1em;
	display: none;
}
.Inspeccion_Evaluar
{
	background: #6699FF;
	border-radius: 0.5em;
	box-shadow: rgba(0,0,0,0.8) 2px 2px 10px;
	display : inline-block;
	height: 2em;
	margin: 1em;
	padding: 0.4em;
	width: 25%;
	vertical-align: top;
}
#Inspeccion_resultado
{
	margin: 2em;
}
#ConteoResultado article
{
	width : 25%;
}
#SubirArchivos
{
	border: none;
	width: 90%;
	overflow: auto;
}

 
 #Vehiculo_InspeccionDiaria_Contenedores_NoAplica, #Vehiculo_InspeccionDiaria_Contenedores_NoConforme { list-style-type: none; margin: 0.1em; float: left; background: #eee; width: 96%; min-height: 10em;}
 #Vehiculo_InspeccionDiaria_Contenedores_NoAplica li, #Vehiculo_InspeccionDiaria_Contenedores_NoConforme li { margin: 0.1em; padding: 0.1em; font-size: 1.2em; width: 96%; }


  #Vehiculo_InspeccionDiaria_Contenedores
  {width: auto;}

  #Vehiculo_InspeccionDiaria_Contenedores article
  {
  	display: inline-block;
	margin: 1%;
	padding: 1% 0;
	width: 45%;
	vertical-align: top;
  }
  .VehiculoInspeccion_Revisado
  {
  	background-color: #33FF33;
  	display: inline-block;
	margin: 1%;
	padding: 1% 0;
	text-align: center;
	width: 30%;
	vertical-align: top;
  }
  .VehiculoInspeccion_SinRevisar
  {
  	background-color: #CC99FF;
  	display: inline-block;
	margin: 1%;
	padding: 1% 0;
	text-align: center;
	width: 30%;
	vertical-align: top;
  }

@media screen and (max-width: 800px) 
{
	.Seccion
	{
			left: 98%;
			padding: 0;
			position: absolute;
			top: 7em;
			width: 1%;
			background: white;
			box-shadow: rgba(0,0,0,0.8) 1px 1px 3px;
	}
	.Seccion_SinMenu
	{
		left: 0.2em;
		position: absolute;
		top: 8.7em;
		width: 95%;
		background: white;
		box-shadow: rgba(0,0,0,0.8) 0px 4px 10px;
	}

	#MainMenu
	{
		width: auto;
	}

}
.ifrSubir
{
	border: none;
	min-height: 15em;
	overflow-y: visible;
	width: 100%;
}
#txtHallazgo_CodigoMulta
{
	text-transform: uppercase
}
#btnInspeccionDiaria_Pendientes
{
	background-color: #9999FF;
	border-radius: 1.5em;
	border-bottom-left-radius: 0;
	border-top-left-radius: 0;
	float: right;
	height: 3em;
	position: absolute;
	left: 0;
	width: 8em;
}
#InspeccionDiaria_Pendientes
{
	background: #E7CCFF;
	border-color: #330066;
	border-radius: 0.2em;
	border-style:solid;
	border-width:1px;
	display: none;
	float: left;
	padding: 1em;
	position: absolute;
	width: 85%;
}
#btnInspeccionDiaria_Pendientes_2
{
	background: #F3E5FF;
	border-radius: 3em;
	padding: 0.2em;
	text-align: center;
}
#tableOperaciones tr:hover 
{
	cursor: pointer;
}
.mapaMedicion
{
	border: none;
	height: 15em;
	overflow: hidden;
	width: 35%;
}

.ComboBox
{
	background-color: white;
	height: 3em;

	width: 30%;

}
#Operaciones_Mediciones
{
	width: 100%;
}
#Mediciones_Cerrar, #DatosHallazgo_Cerrar
{
	position: absolute;
	float: right;
	right: 5em;
}

#Hallazgos_Mediciones div
{
	display: inline-block;
	margin: 1%;
	padding: 1% 0;
	vertical-align: top;
}
tr
{
	cursor: pointer;
}
.btnRotarImagen
{
	width: 4em;
	height: 4em;
}

#Hallazgos_Observaciones_
{
  background: #edeff4;
  border-radius: 0.3em;
  padding: 1em;
  width: 40%;
}
#Hallazgos_Observaciones h2
{
	background: #CCD2E0;
	width: auto;
}
.divObservaciones h5
{
  color: #000033
}

.divObservaciones h5 span
{
  color: black;
}
.divObservaciones h4
{
  font-size: 10px;
}
#Hallazgos_Observaciones_ button
{
  background: #56668A;
  color: white;
}



#Hallazgos_Archivos_
{
  background: #edeff4;
  border-radius: 0.3em;
  padding: 1em;
  width: 54%;
}
#Hallazgos_Archivos h2
{
	background: #CCD2E0;
	width: auto;
}
#Hallazgos_Archivos div h5
{
  color: #000033
}

#Hallazgos_Archivos div h5 span
{
  color: black;
}
#Hallazgos_Archivos div h4
{
  font-size: 10px;
}
#Hallazgos_Archivos_ button
{
  background: #56668A;
  color: white;
}

#Hallazgos_Observaciones_, #Hallazgos_Archivos_
{
	display: inline-block;
	margin: 1%;
	padding: 1% 0;
	vertical-align: top;
}

#Hallazgos_menu
{
	z-index:1000;
    position: absolute;
}
#Hallazgos_menu_CambiarEstado
{
	border: none;
	width: 100%;
}

#lblCambiarEstado
{
	border-top: solid;
	border-top-width:1px;
	border-top-color: #aaaaaa;
	color: #404040;
	
	width: 97%;
}
#lblCambiarEstado label
{
	font-weight: bold;
}
#ifrSubirBuses, #ifrSubirConductores, #ifrSubirInmovilizados, #ifrSubirInspecciones
{
	border: none;
	width: 97%;
	height: auto;
	overflow: visible;
}
#ReporteHallazgos
{
	overflow-x: auto;
}
#tableMyUsers
{
	width: 97%;
}
#ifrUbicacionTecnicos
{
	border: none;
	overflow: auto;
	min-height: 150%;
	width: 100%;
}
#txtEditarHallazgo_Valor
{
	min-height: 12em;
	width: 97%;
}
.artReporte_Actos_SubItem
{
  background: peru;
  border-radius: 0.3em;
  cursor: pointer;
  display: inline-block;
  min-height: 3em;
  padding: 1%;
  text-align: center;
  vertical-align: top;
  width: 22%;
}
.artReporte_Actos_SubItem:hover
{
  background: gold;
}
#NovedadesConcesionario iframe
{
	border: none;
	min-height: 50em;
	overflow: auto;
	width: 97%;
}
#tableEditarInspeccionPeriodica
{
	margin: 0;
	padding: 0;
	width: 97%;
}
#tableEditarInspeccionPeriodica input
{
	width: 6em;
}
#DashBoard div
{
	display: inline-block;
	margin: 0;
	vertical-align: top;
}
#divGraficas
{
	height: 20em;
	width: 97%;
}
.flotr-legend
{
	position: absolute;
	bottom: 1em;
	width: 97%;
}
#divGraficasConvenciones
{
	background: #D9D9D9;
	margin: 4em 0 0 0;
	padding: 1em 0 0 0;
	text-align: left;
	width: 97%;
}
#divGraficasConvenciones article
{
	background: #E6E6E6;
	border-radius: 0.5em;
	display: inline-block;
	margin: 0.1em;
	overflow: hidden;
	padding: 0.4em;
	text-align: left;
	vertical-align: top;
	width: 29%;
}
.flotr-legend-bg, .flotr-legend
{
	display: none;
}
