.textoCentrado
{
	text-align: center;
}
.textoDerecha
{
	text-align: right;
}
.letraAzul
{
	color: blue;
}
#firma
{
	background-color: blue;
	padding: 1em;
	width: 90%;

}
#firma_myCanvas
{
	background-color: gray;
	width: 100%;
}
.contenedorImagenesTomadas
{
    display: inline;
	vertical-align: top;
	width: 97%;
}
.imagenTomada
{
	border-style: solid;
    border-width: 2px;
  	cursor: pointer;
  	display: inline-block;
  	margin: 0.6em;
  	padding: 0.6em;
  	text-align: center;
  	vertical-align: top;
  	width: 40%;
}
.imagenTomada img
{
	width: 97%;
}
.Encuesta_Ok
{
	border-radius: 4em;
	background-color: green;
}